body {
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  /* background-color: #282c34;
  color: white; */
}

.App-header, .App-body {
  margin: 1rem;
}

.App-title {
  margin: 0;
}
